<body id="id_bug">
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>


<span class="btn" style="float:right;">
<%= link_to 'New Bug', new_bug_path , remote:true %>
</span>

<div id="myTable">
    <div id="tharticle">Article</div>
    <div id="thauthor">Author</div>
    <div id="thdescription">Description</div>
    <div id="thissue_type">Issue Type</div>
    <div id="thpriority">Priority</div>
    <div id="thstatus">Status</div>
    <div id="thaction">Action</div>
</div>

<div id="bugs">
  <%= render @bugs %>
</div>

<div id="blog-form" style="display:none;"></div>

</body>